@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<MVC_Kutuphane_Otomasyonu.Entities.Model.KitapTurleri>


@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form action="Index2" >
    <label style="font-weight:bold">Kitap Türü Ara :</label>
    @Html.TextBox("Ara")
    
    <button type="submit">Ara</button>

</form>


<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Kitap Türleri Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Kitap Türü</td>
                            <td>Açıklama</td>
                            <td>Düzenleme</td>
                            <td>Sil</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <td>@item.KitapTuru</td>
                                <td>@item.Aciklama</td>
                                <td><a href="KitapTurleri/Duzenle/@item.Id" class="btn-warning">Düzenle</a></td>
                                <td><a href="KitapTurleri/Sil/@item.Id" class="btn-danger">Sil</a></td>
                                
                            </tr>
                        }

                    </tbody>
                </table>
                @Html.PagedListPager(Model,page=>Url.Action("Index","KitapTurleri",new { page, ara = Request.QueryString["ara"] }),new PagedListRenderOptions
           {
               FunctionToTransformEachPageLink = (li, a) =>
               {
                   a.AddCssClass("page-link");
                   li.InnerHtml = a.ToString();
                   return li;
               }


           })



                <a href="KitapTurleri/Ekle" class="btn-success">Yeni</a>



            </div>

        </div>

    </div>


</div>





